.campersSummary {
  flex-direction: column;
  gap: 16px;
}

.campervanPageContainer {
  padding: 32px 48px 0 48px;
}

@media screen and (min-width: 768px) {
  .catalogMainContainer {
    padding: 48px 64px 0 64px;
  }
}

.campervanDescription {
  margin-top: 24px;
}

.featuresReviewsContainer::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
  margin: 24px 0px;
}

.featuresReviews {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.featuresReviewsContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .featuresReviewsContent {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}

.featuresReviewsLink:focus .featuresReviewsHeader::after,
.featuresReviewsLink.visited .featuresReviewsHeader::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  width: 80px;
  top: 49px;
  background-color: var(--light-tomato);
}

.featuresReviewsContainer {
  position: relative;
}
