.campersInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratingInfo {
  display: flex;
  flex-direction: column;
}

.ratingIcon {
  display: flex;
}

.location,
.rating {
  margin-left: 4px;
}

.campersInfoHeader {
  font-size: 24px;
  font-weight: 600;
}

.reviews {
  text-decoration: underline;
  display: flex;
}

.ratingContainer,
.locationInfo {
  display: flex;
  align-items: center;
}

.reviewsInfo {
  display: flex;
  gap: 16px;
  align-items: start;
}

@media screen and (max-width: 768px) {
  .reviewsInfo {
    flex-direction: column;
  }

  .campersInfoHeader {
    font-size: 20px;
  }
}

.selectBtn {
  margin-left: 12px;
  padding: 0px;
  align-self: start;
  justify-self: start;
  background-color: transparent;
  border: none;
  padding-top: 4px;
}

.selectBtn:hover .likeIcon {
  fill: var(--light-tomato);
}
.selected {
  fill: var(--light-tomato);
  scale: 1.2;
}

.priceAndActions {
  display: flex;
  align-items: center;
}
