.campersInfo {
  display: flex;
  justify-content: space-between;
}

.ratingInfo {
  display: flex;
  flex-direction: column;
}

.ratingContainer {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.ratingIcon {
  display: flex;
}

.ratingContainer {
  gap: 16px;
}

@media screen and (min-width: 928px) and (max-width: 1440px) {
  .ratingContainer {
    gap: 16px;
    justify-content: start;
  }
  .ratingContainer {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .campersInfo {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

.location,
.reviewsInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.campersInfoHeader {
  font-size: 24px;
  font-weight: 600;
}

.reviews {
  text-decoration: underline;
  display: flex;
}

.campersInfo {
  width: 100%;
}
