.inputField{
    border: none;
    outline: none;
    background-color: var(--white-smoke);
    border-radius: 12px;
}
.inputField::placeholder{
    color: var(--charcoal-gray);
    font-size: 16px;
}