.listItem {
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 24px;
  display: grid;
}

.showMoreBtn {
  align-self: center;
  justify-self: center;
}


@media screen and (min-width: 1440px) {
  .listItem {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 24px;
  }
  .showMoreBtn {
  align-self: start;
  justify-self: start;
}

}

.campersInfoContainer {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 24px;
}

.campersImgThumb {
  width: 100%;
  height: 100%;
}

.campersImg {
  height: 100%;
  width: 100%;
}


.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--slate-blue);
}
