.listItem {
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 24px;
}

.campersSummaryContainer {
  display: flex;
  justify-content: space-between;
}

.campersInfoContainer {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 24px;
}

.selectBtn {
  margin-left: 12px;
  padding: 0px;
  align-self: start;
  justify-self: start;
  background-color: transparent;
  border: none;
  padding-top: 4px;
}

.selectBtn:hover .likeIcon {
  fill: var(--golden-yellow);
}
.showMoreBtn {
  align-self: start;
  justify-self: start;
}

.campersImgThumb {
  width: 100%;
  height: 100%;
}

.campersImg {
  height: 100%;
  width: 100%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--slate-blue);
}
