.homePageSection {
  background-image: url("../../assets/img/main-page-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: inherit;
  height: calc(100vh - var(--header-height));
  padding: 0px 64px;
  display: flex;
  align-items: center;
}

.textColor {
  color: var(--white-smoke);
}

.text {
  font-weight: 600;
}

.homePageSection h2 {
  margin-bottom: 40px;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(tomato);
}
